.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
*.html

# PBS log files
*.e*
*.o*

# Files containing potentially identifying data (session date and time), incl. raw data, runtime_info, lab notebook
data/raw/*
documents/content/raw/runtime_info/*
